{% extends "base.html" %}

{% block site_meta %}
  {{ super() }}

  <link rel="apple-touch-icon" sizes="180x180" href="{{ page.base_url | url }}/assets/images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ page.base_url | url }}/assets/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ page.base_url | url }}/assets/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="{{ page.base_url | url }}/assets/site.webmanifest">

  {% set site_title = config.site_name %}
  {% if page and page.meta and page.meta.title %}
    <meta property="og:title" content="{{ page.meta.title }} - {{ site_title }}">
    <meta property="twitter:title" content="{{ page.meta.title }} - {{ site_title }}">
  {% elif page and page.title and not page.is_homepage %}
    <meta property="og:title" content="{{ page.title | striptags }} - {{ site_title }}">
    <meta property="twitter:title" content="{{ page.title | striptags }} - {{ site_title }}">
  {% else %}
    <meta property="og:title" content="{{ site_title }}">
    <meta property="twitter:title" content="{{ site_title }}">
  {% endif %}

  {% if page and page.meta and page.meta.description %}
    <meta property="og:description" content="{{ page.meta.description }}">
    <meta property="twitter:description" content="{{ page.meta.description }}">
  {% else %}
    <meta property="og:description" content="{{ config.site_description }}">
    <meta property="twitter:description" content="{{ config.site_description }}">
  {% endif %}
  <meta name="theme-color" content="#222228">

  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.canonical_url }}">
  <meta property="og:image" content="{{ config.site_url | url }}assets/images/logo.png">
  <meta property="og:image:type" content="image/png">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="{{ config.site_author | d('DecentSoftware Team') }}">
  <meta name="twitter:image" content="{{ config.site_url | url }}assets/images/logo.png">
{% endblock %}